/* Root */
:root {
    --mainColor: #b16da2;
    --darkColor: #151515;
    --lightColor: #f2f2f2;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 300;
    padding: 1rem 0  .5rem 0;
}



h1, img {
    text-align: center;
}

td img {
    width: 37rem;



}

hr {
    width: 100%;
    border: 0;
    height: .05rem;
    margin: 1rem 0;
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5), transparent);
}

a {
    color: var(--mainColor);
}

nav, nav ul {
    display: flex;
}

nav {
    position: absolute;
    width: 100%;
    height: 6rem;
    padding: .5rem 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: .015rem solid rgba(0, 0, 0, .2);
    margin-bottom: 1rem;
}

.logo img{
    width: 94px;
}

nav ul {
    height: 100%;
    align-self: center;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    align-self: center;
    padding: 0 .5rem;
    transition: 400ms ease-out;
    cursor: pointer;
}

nav ul li a {
    color: var(--darkColor);
    font-family: 'Montserrat', sans-serif;
    width: 300;
}

nav ul li a:hover, .active {
    color: #c3d0e4;
    transition: 400ms ease-in;
}
h1 {
    padding: 24rem 0;
    margin-bottom: -16rem;
    color: #f9ead7;
    font-size: 2rem;
    background-image: url("/assets/img/Our_team.gif");
    background-size: cover;
    background-position: top center;
}

body {
    background: #F6F4FF;
}

.container p{
    text-align: justify;
    padding: 40px;
    font-family: 'Montserrat';
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.container p:nth-of-type(2) {
    padding: 50px 10%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.container p:nth-of-type(3) {
    padding: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p:nth-of-type(3) img {
    padding: 0;
    width: 80%;
}

table{
    width: 100%;
    overflow-x: scroll;
    white-space: pre-line;
    padding: 35px 124px;
    text-align: justify;

}

table:nth-child(2) tr td {
    text-align: center;
    background: antiquewhite;
    padding: 32px;
    border: 17px solid #c3ada0;
}

table:nth-child(2) thead tr th {
    padding: 32px;
}


footer{
    background: #ffffff;
    padding: 20px 20px 20px 20px;
    margin-top: 58px;

}

.social-icon{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 44px 10px 22px;
}

.social-icon a{
    padding: 0px 10px;

}

.social-network {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.social-network p{
    font-size: 10px;
    margin: 0px 19px;
    font-family: 'Montserrat', sans-serif;
}
